/******************************************************************************
Author:  Xuan Do
Website: https://doxuan994.github.io/resume/
Email:   doxuancntp@gmail.com
Version: 1.0
Date:    05/26/2018
******************************************************************************/


/* ------------------------------
GLOBAL CSS
------------------------------ */
p {
    text-align: justify;
}
